<ul>
      <li>
        <a href = "{{ '/' | relative_url }}">
          <B><u><small>🏠</small> Home</u></B>
        </a>
      </li>
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          <B><u><small>😃</small> About</u></B>
        </a>
      </li>
      <li>
        <a href = "{{ 'blog/' | relative_url }}">
          <B><u><small>📚</small> Blog</u></B>
        </a>
      </li>
      <li>
        <a href = "{{ site.resume_url | relative_url }}">
          <B><u><small>📃</small> Resume</u></B>
        </a>
      </li>
</ul>