<ul>
      <li>
        <a href = "{{ '/' | relative_url }}">
          <B><u>🏠 Home</u></B>
        </a>
      </li>
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          <B><u>😃 About</u></B>
        </a>
      </li>
      <li>
        <a href = "{{ 'archives/' | relative_url }}">
          <B><u>📚 Archives</u></B>
        </a>
      </li>
      <li>
        <a href = "{{ site.resume_url | relative_url }}">
          <B><u>📃 Resume</u></B>
        </a>
      </li>
      <li>
        <a href = "https://github.com/wooseokyourself/">
          <B><u>😺 Github</u></B>
        </a>
      </li>
</ul>